<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>   
    <div class="message">
				{{messages.message}}
			</div>  

            <h1>Waiters Availability working Days</h1>
    <form action="/admin" method="POST">
        <table style="width:100%">
            <br>
            <br> 
            <br>
            <br>
            <tr>
                <th style="font-size: 20px;">Sunday</th>
                <th >Monday</th>
                <th >Tuesday</th>
                <th >Wednesday</th>
                <th >Thursday</th>
                <th >Friday</th>
                <th >Saturday</th>
            </tr>
            <tr>
        </table>
        <a href="/clear"></a><button type="submit" class="btnblue">Clear Names</button>
    </form>
</body>
<script src="setTimeout.js"></script>
</html>