<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="Container">

         <div class="topnav"><a href="">
                <a class="active" href="/" style="font-size: 20px;">Home</a>
                <a href="/admin" style="font-size: 20px;">Admin</a>
        </div>
        <br>
        <br>
        <div class="message">
				{{messages.message}}
			</div>
             
        <h1 style="color:#141A46">Waiter's Schedule</h1>
        <br>
        <br><br>
        <br>
        <form action="" method="POST">
            {{#each weekDays}}
            <label for="Sunday" class="theDays">{{day}}</label>
            <input type="checkbox" name="thedays" value="{{id}}" />
            {{/each}}
    </div>
    <br>
    <br>
     <button type="submit" class="butt">Submit Days</button>
    </form>
</body>
<script src="setTimeout.js"></script>
</html>