<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="Main-container">

        <div class="topnav"><a href="/">
                {{!-- <a class="active" href="/">Home</a> --}}
                <a href="/"></a>
        </div>
        <div class="message">
				{{messages.message}}
			</div>
       <br>
       <br>
       <br>
        <h1 style="color: #141A46;">Waiters Availability </h1>

        <h1 style="font-size: 40px; color:#141A46">Sign In</h1>

        <form action="/login" method="POST">
            <div class="container">
                <input type="text" name="letters" class="NameEntered" value="" placeholder="enter a your name">
                {{user.letters}}
                <button type="submit" class="btnblue">Sign in</button>
            
            </div>
            <div class="Customers">
                {{#each output}}
                <div class="output">
                    {{this.output}}
                </div>
                {{/each}}
            </div>
        </form>
    </div>
</body>
<script src="/setTimeout.js"></script>
</html>