body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	/* background-color: rgb(190, 57, 192); */
  background-image: url("/waiters.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
padding-top: 150px;
text-align: center;
}
 .theDays{
   color: #141a46;
   font-size: 30px;
 }
.butt {
  font-size: 17px;
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #141A46;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.butt:hover {
  background-color: #2D788F
}
.butt:active {
background-color: #5F632E;
box-shadow: 0 5px #666;
transform: translateY(4px);
}


.btnblue {
    font-size: 17px;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #141A46;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btnblue:hover {
    background-color: #2D788F
}
.btnblue:active {
  background-color: #141a46;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
th{
  font-size:30px;
}
 .overbooked{
   background-color:red;
 }
 .booked{
  background-color:green;
}
.available{
  background-color:orange;
}
.table{
  font-size:25px ;
  color: aliceblue;
  font-style: italic;
}
.NameEntered{
  width:200px ;
  height: 40px;
}

h1{
  font-size: 60px;
}
.message{
  color: white;
  font-size:25px ;
}
.topnav {
	overflow: hidden;
    /* background-color: #2D788F; */
	/* background-color: #333; */
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right:0;
  }
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	/* color: black; */
  }
  
  /* .topnav a.active {
    background-color: #2D788F
  } */